# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/

# Temporary and IDE files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Scratch directory
scratch/

# Archives/Zip files
*.zip

